body{
    font-family: "Darumadrop One", sans-serif;
    margin: 10px;
    margin-top: 0px;
    padding: 0;
    background-color:#FFAF72;
    overflow-y: hidden;
    }

div {
    font-family: "Kaisei HarunoUmi", sans-serif; /* Apply the font-family */
    }
    
    
    /* Optionally, you can target each word individually */
div span {
    font-family: "Kaisei HarunoUmi", sans-serif;
    font-size: 70px;
    position: relative; /* Add position relative */
    top: 20px; /* Adjust top position */
    left: 130px; /* Adjust left position */
    }
    
nav{
    background-color: #FFAF72;
    font-family: "Darumadrop One", sans-serif;
    font-size: 20px;
    font-style: normal;
    /* added the three "fonts" but had no changes to the navigation menu */
    display: flex; 
    justify-content: space-between;
    padding: 20px 5%; 
     /* first px change vertical size, the second change the spacing bewteen */
}
    
#main-menu{
    display: flex;
    align-items: center;
    gap: 120px;
}
    
#main-menu li{
    list-style: none;
}
    
.dropdown{
    display: none;
    position: absolute;
    margin: 0px;
}
    
.sub-menu:hover .dropdown {
    display:block;
        
}
    
.logo{
    color:#051BE2;
    font-family: "Just Me Again Down Here", cursive;
    font-size: 60px;
    font-style: normal;
    padding: 0px 3%;
    text-decoration: none; /* Remove underline */ 
}
    
    
#main-menu button, #main-menu a {
    background-color: transparent;
    font-family: "Darumadrop One", sans-serif;
    font-size: 16px; 
    transition: color .2s;
    text-decoration: none;
    color:black;
    border-width: 0;
    font-weight: none; 
    
/* the navigation bar  */
}
    
/* About Me Button */
#main-menu button:nth-of-type(0):hover {
    color: white;
}
    
/* Resume Link */
#main-menu a:hover {
     color: white 
}
    
/* Criminology Button */
#main-menu button:nth-of-type(1):hover {
    color:  white;
}
    
/* Journalism Button */
#main-menu button:nth-of-type(2):hover {
    color:white;
}
    
/* Graphic Design Button */
#main-menu button:nth-of-type(3):hover {
    color: white;
}