body{
    font-family: "Bakbak One", sans-serif;
    }
/* navigation */

nav{
    background-color: red;
    display: flex; 
    justify-content: space-between;
    padding: 20px 10%; 
}

#main-menu{
    display: flex;
    gap: 50px;
}

#main-menu li{
    list-style: none;
}